@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap);

* {
  box-sizing: border-box;
}

html, body, div, img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
  font-family: 'Poppins', sans-serif;
}

/* nav */

.nav {
  display: flex;
  height: 90px;
  border-bottom: 1px solid grey;
  box-shadow: 5px 0 darkgrey;
  background-color: rgb(245, 244, 240	);
}

.nav-img:hover {
  transform: scale(1.2);
}

/* main */

.img-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
  max-width: 80%;
  margin: 0 auto;
}

.main-imgs {
  border-radius: 12px;
  margin: 5px;
  width: 300px;
  height: 300px;
}

.experiences {
  margin-left: 4%;
  font-size: 1.3rem;
}

/* card */

.card-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}

.card {
  position: relative;
  margin-left: 4%;
  margin-top: 1%;
  flex: 0 0 20%;         /* ADD */
  display: flex;          /* ADD */
  flex-direction: column; /* ADD */
  justify-content: space-around;
  border: 1px solid red;
}

.card-img {
  border-radius: 5px 5px;
  height: 400px;
  width: 300px;
}

.card-badge {
  position: absolute;
  top: 10px;
  left: 7px;
  background-color: white;
  padding: 3px 10px;
  border-radius: 5px 5px
}

.rating {
  display: flex;
  align-items: center;
  padding-top: .3em;
}

.reviewNumber{
  color: grey;
  margin-left: 2px;
}

.location {
  margin-left: 2px;
}

.courseTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80%;
}

.price span {
  font-weight: bolder;
}

.star {
  margin-right: .5em;
  max-width: 20px;
  max-height: 20px;
}

@media only screen and (max-width: 1300px){

  .main-imgs {
    border-radius: 12px;
    margin: 5px;
    width: 30vh;
    height: 30vh;
  }
  .card-list {
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
  }
}