@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap);

* {
  box-sizing: border-box;
}

html, body, div, img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
  font-family: 'Poppins', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* nav */

.nav {
  display: flex;
  height: 90px;
  border-bottom: 1px solid grey;
  box-shadow: 5px 0 darkgrey;
  background-color: rgb(245, 244, 240	);
}

.nav-img:hover {
  transform: scale(1.2);
}

/* main */

.img-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5px;
}

.main-imgs {
  border-radius: 12px;
  margin: 5px;
  width: 300px;
  height: 300px;
}

.experiences {
  margin-left: 4%;
  font-size: 1.3rem;
}

/* card */

.card {
  position: relative;
  margin-left: 2%;
  margin-top: 1%;
}

.card img {
  border-radius: 5px 5px;
}

.card > span {
  position: absolute;
  top: 10px;
  left: 7px;
  background-color: white;
  padding: 3px 10px;
  border-radius: 5px 5px
}

.rating {
  display: flex;
  align-items: flex-end;
  padding-top: .3em;
}

.reviewNumber{
  color: grey;
  margin-left: 1%;
}

.country {
  margin-left: 0.5%;
}

.price span {
  font-weight: bolder;
}

.star {
  margin-right: .5em;
}
